<div class="modal-header">
    <h3 class="modal-title light">Micro Services Application - XXX<img class="pull-right" height="35" width="80" src="common/images/login_logo.jpeg"></h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4"><b>Product Name</b></div>
        <div class="col-md-8"><span class=" pull-right"><i>{{manifestAbout[0].productName}}</i></span></div>
    </div>

    <div class="row">
        <div class="col-md-4"><b>Product Version</b></div>
        <div class="col-md-8"><span class=" pull-right"><i>{{manifestAbout[0].productVersion}}</i></span></div>
    </div>

    <div class="row">
        <div class="col-md-4"><b>Build Number</b></div>
        <div class="col-md-8"><span class=" pull-right"><i>{{manifestAbout[0].buildNumber}}</i></span></div>
    </div>

    <div class="row">
        <div class="col-md-4"><b>Build Date</b></div>
        <div class="col-md-8"><span class=" pull-right"><i>{{manifestAbout[0].buildDate}}</i></span></div>
    </div>

    <div class="row">
        <div class="col-md-4"><b>Last Changed Date</b></div>
        <div class="col-md-8"><span class=" pull-right"><i>{{manifestAbout[0].lastChangedDate}}</i></span></div>
    </div>

    <div class="row">
        <div class="col-md-4"><b>Version Hash</b></div>
        <div class="col-md-8"><span class=" pull-right"><i>{{manifestAbout[0].versionHash}}</i></span></div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default flat" type="button" ng-click="aboutOK()">Close</button>
</div>
