<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
                PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


    <!-- General description of your web application -->

    <display-name>My App UI Template</display-name>
    <description>
        This is my App UI Template
    </description>


    <servlet>
        <servlet-name>appw</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.msdp.worker.service;org.codehaus.jackson.jaxrs</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>com.msdp.worker.rest.filters.AppAuthFilter; com.msdp.worker.rest.filters.AppAdminFilter; com.msdp.worker.rest.filters.AppRestResponseFilter; org.glassfish.jersey.filter.LoggingFilter; org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>appw</servlet-name>
        <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>

    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>